<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hospital.mapper.PharmacyMapper">
    <!--查询药房药品清单-->
    <select id="selpharmacy">
        select DISTINCT p.pharmacyId,p.pharmacyName,sk.skullName,un.unitName,p.sellingPrice,
        ar.areaName,ty.typeName,p.produceDate,p.validDate,p.skullbatch,p.drugstorenum from pharmacy p,drugstore dr,skull sk,warehuose wa,unit un,area ar,type ty where  p.skullId=sk.skullId AND
        p.warehouseId=wa.warehouseId and p.unit=un.unitId and p.area=ar.areaId and p.type=ty.typeId
        <if test="pharmacyName!=null and pharmacyName!=''">
            and p.pharmacyName like concat('%' ,concat(#{pharmacyName},'%'))
        </if>
        ORDER BY p.pharmacyId desc

    </select>

    <!--    回收给药房-->
    <delete id="delpharymacy" >
        delete  from pharmacy where pharmacyId =#{pharmacyId}
    </delete>
    <!--   添加到回收表-->
    <insert id="addrecovery" >
        insert into recovery (recoveryname,recoverynumber,recoverypihao,jbr,beizhu) VALUES(#{recoveryname},#{recoverynumber},#{recoverypihao},#{jbr},#{beizhu});
    </insert>
    <!-- 查询药房回收表数据-->
    <select id="selrecovery">
        select  * from recovery
    </select>
    <delete id="delrecovery">
        delete  from recovery where recoveryid  =#{recoveryid}
    </delete>

    <insert id="addlack"  >
        INSERT into lack(lackName,lackNum)VALUES(#{lackName},#{lackNum})
    </insert>
    <!-- 添加报缺药品时 查询报缺表是否已存在此药-->
    <select id="sellackname" resultType="Integer">
        SELECT count(*)from  lack where baoqueName=#{lackName}

    </select>
    <!--   已存在则修改数量-->
    <update id="uplacknum">
        UPDATE lack set lackNum =(lackNum+#{lackNum}) where lackName=#{lackName}
    </update>
</mapper>