<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hospital.mapper.ReportMapper">
    <!--添加挂号人员-->
    <insert id="addre" parameterType="com.example.hospital.entity.Report">
        INSERT INTO report (reportname,sex,age,department,doctor,reporttype,price,time,users,state,phone,carid)
        VALUES (#{reportName},#{sex},#{age},#{department},#{doctor},#{reporttype},#{price},NOW(),#{users},1,#{phone},#{carid})
    </insert>
    <!--根据患者id修改该患者的状态让他在前台不显示-->
    <update id="delre" parameterType="Integer">
        UPDATE report SET state = 0 WHERE reportid = #{id}
    </update>
    <!--根据患者ID查询患者的详细信息-->
    <select id="selById" resultType="com.example.hospital.entity.ReportVo">
        select*from report where reportId=#{reportId}
    </select>
    <!--判断正在就诊的电话唯一-->
    <select id="phone" parameterType="com.example.hospital.entity.ReportVo" resultType="int">
        select count(*)from report where phone=#{phone} and state=1
    </select>
    <!--判断正在就诊的电话唯一-->
    <select id="carid" parameterType="com.example.hospital.entity.ReportVo" resultType="int">
        select count(*) from report where carid=#{carid} and state=1
    </select>
    <!--如果今日挂的病人没有来则删除-->
    <update id="upddang">
        UPDATE report SET state = 0 WHERE DATE_FORMAT(time,'%Y-%m-%d') &lt; DATE_FORMAT(now(),"%Y-%m-%d") and state=1
    </update>
    <!--转入住院-->
    <update id="zhuanyuan" parameterType="com.example.hospital.entity.Report">
        UPDATE report SET state =4,zhuan=#{zhuan} WHERE reportId=#{reportId}
    </update>
</mapper>