<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hospital.mapper.WarehouseMapper">
    <select id="findAllWarehouse" resultType="com.example.hospital.mapper.WarehouseMapper">
        select *from Warehouse
        <where>
            <if test="supplierName!=null and supplierName!=''">
                supplierName like concat('%',concat(#{supplierName},'%'))
            </if>
        </where>
    </select>
    <insert id="addWarehouse" parameterType="com.example.hospital.mapper.WarehouseMapper">
        insert into Warehouse(supplierName)values(#{supplierName})
    </insert>
    <delete id="deleteWarehouse" parameterType="Integer">
        delete from Warehouse where warehouseId=#{warehouseId}
    </delete>
    <select id="count" resultType="int">
        select count(*) from Warehouse where supplierName=#{supplierName}

    </select>
</mapper>